{% load static %}
<header>
    <div class="navigation">
        <div class="navigation-left nav-group">
            <div class="logo"><img src="{% static 'img/logo_header.svg' %}" alt="header-logo"></div>
            <div class="nav-item"><img src="{% static "img/icons/burger.svg" %}" alt="menu-burger"><p class="nav-item-text">Меню</p></div>
        </div>
        <div class="navigation-middle nav-group">
            <div class="nav-item"><img src="{% static "img/icons/headphones.svg" %}" alt="headphones"><p class="nav-item-text">Оставить обращение</p></div>
            <div class="nav-item"><img src="{% static "img/icons/bulb.svg" %}" alt="bulb"><p class="nav-item-text">Центр поддержки</p></div>
            <div class="nav-item"><img src="{% static "img/icons/paper_plane.svg" %}" alt="paper-plane"><p class="nav-item-text">г. Москва</p></div>
        </div>
    </div>
</header>